.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  background-color: lightgray;

}

.nav-items {
  list-style: none;
  display: flex;
  /* padding-block: 10px; */

}

.nav-items>li {
  padding: 10px;

}

.indexList  {
  list-style-position: inside;
  text-align: center;
}

.indexList ::marker {
  color: #61DAFB;
  font-size: 1.4rem;
}



/* .indexList>li {
} */

  /* text-align: center; */





/* .testLi {
  right: -100px;
  position: relative;
} */

/* li span {
  position: relative;
  left: -10px;
} */

/* .indexText {
  text-align: start;
} */

.logo {
  width: 50px;
}

.footer {
  /* bottom: 0; */
  /* width: 70vw; */
  margin-top: auto;
  height: 2.5rem;
  text-align: center;
  background-color: lightgray;

}


#content-wrap {
  padding-bottom: 0.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  overflow: hidden;
  background-image: url(../public/logo512.png);
  background-repeat: no-repeat;
  background-position-x: center ;
  background-position-y: 40%;
  background-size: 400px;
  background-color: rgb(232, 223, 223);
  
}


.test {
  margin-right: auto;
  margin-left: 15px;
}