
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;

}

.nav-items {
  list-style: none;
  display: flex;

}

.nav-items > li {
  padding: 10px;
}

.logo {
  width: 100px;
}

.footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  background-color: lightgray;
  /* margin-left: -.5%; */

  
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 0.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  overflow: hidden;
}